.cuerpo{
    max-width: 50%;
    width: 90%;
    overflow: hidden;
    margin: auto;
    
}
.contenido{
    width: 100%;
    height: 100vh;  
    background-image: url(../img/slider.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.md-datepicker-calendar-pane {
    z-index: 1200 !important;
}
